.card { 
  width: 30%;
  max-width: 250px;
  min-width: 200px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f4f4f4;
  word-break: break-word;
}

.secondary-container {
  flex: 1;
  min-width: 400px;
  width: 100%;

  a {
    color: inherit;
  }
}

.activities {
  min-width: 450px;
  flex: 1;
  width: 100%;
}