<div
  cdkDropList
  [cdkDropListOrientation]="'vertical'"
  [cdkDropListLockAxis]="'y'"
  (cdkDropListDropped)="drop($event)">
  @for (channel of channels; track channel; let index = $index) {
    <div
      class="fs-row channel"
      cdkDrag>
      <div class="fs-row">
        <a
          mat-icon-button
          (click)="removeChannel(index)">
          <mat-icon>
            remove_circle_outline
          </mat-icon>
        </a>
        <mat-form-field class="form-field-padless field-label">
          <mat-select
            required
            [(ngModel)]="channel.label"
            (ngModelChange)="channelsChanged()"
            [name]="'label-' + channel.guid">
            @for (label of labels; track label) {
              <mat-option
                [value]="label">
                {{ label }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="container-value">
        @switch (type) {
          @case ('email') {
            <mat-form-field class="field-value">
              <input
                matInput
                [required]="true"
                placeholder="Email"
                fsFormEmail
                (ngModelChange)="channelsChanged()"
                [(ngModel)]="channel.value"
                [name]="'value-' + channel.guid">
            </mat-form-field>
          }
          @case ('phone') {
            <mat-form-field class="field-value">
              <input
                matInput
                [required]="true"
                fsPhoneField
                placeholder="Phone"
                (ngModelChange)="channelsChanged()"
                [(ngModel)]="channel.value"
                [name]="'value-' + channel.guid">
            </mat-form-field>
          }
          @case ('url') {
            <mat-form-field class="field-value">
              <input
                matInput
                [required]="true"
                placeholder="URL"
                (ngModelChange)="channelsChanged()"
                [(ngModel)]="channel.value"
                [name]="'value-' + channel.guid">
            </mat-form-field>
          }
        }
      </div>
      <div>
        <div
          cdkDragHandle
          class="drag-handle">
          <mat-icon>
            drag_indicator
          </mat-icon>
        </div>
      </div>
    </div>
  }
  <div class="actions">
    <a
      mat-icon-button
      (click)="addChannel()">
      <mat-icon>
        add_circle_outline
      </mat-icon>
    </a>
    <a (click)="addChannel()">
      {{ 'Add ' + type }}
    </a>
  </div>
</div>