<mat-card>
  <mat-card-header>
    <mat-card-title>
      Document request
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *fsSkeleton="documentRequest">
      @if (documentRequest.documentRequestItems.length) {
        @for (documentRequestItem of documentRequest.documentRequestItems; track documentRequestItem.documentRequestItemId) {
          <br>
          <div class="fs-row.gap-sm.justify-between full-width">
            {{ documentRequestItem.document.name }}
            <a
                mat-raised-button
                (click)="uploadDocument(documentRequestItem)">
              Upload
            </a>
          </div>
        }
      } @else {
        <p>
          All documents have been submitted.
        </p>
      }
    </ng-container>
  </mat-card-content>
</mat-card>