fs-field-renderer {
  margin-top: 20px;

  ::ng-deep {
    fs-field-render {
      margin: 0 !important;
    }
  }
}

.buttons {
  position: sticky;
  bottom: 0px;
  background: #fff;
  padding-top: 10px;
  z-index: 999;

  &::before {
    content: ' ';
    background: #ffffff;
    height: 20px;
    position: absolute;
    bottom: -20px;
    width: 100%;
  }
}