<ng-container *fsSkeletonForm="crmLead">
  <div class="fs-row.gap-lg.align-start full-width">
    <div class="fs-column">
      <h2>
        Personal information
      </h2>
      <div class="fs-row.gap-sm">
        <mat-form-field class="full-width">
          <mat-label>
            First name
          </mat-label>
          <input
            matInput
            name="firstName"
            [(ngModel)]="crmLead.firstName">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>
            Last name
          </mat-label>
          <input
            matInput
            name="lastName"
            [(ngModel)]="crmLead.lastName">
        </mat-form-field>
      </div>
      <mat-form-field class="full-width">
        <mat-label>
          Company
        </mat-label>
        <input
          matInput
          name="companyName"
          [(ngModel)]="crmLead.companyName">
      </mat-form-field>
      <div>
        <div class="full-width">
          <fs-label>
            Email addresses
          </fs-label>
          <app-crm-channels
            [(channels)]="crmLead.emailCrmChannels"
            (channelsChange)="formDirty()"
            [type]="'email'">
          </app-crm-channels>
        </div>
        <br>
        <div class="full-width">
          <fs-label>
            Phone numbers
          </fs-label>
          <app-crm-channels
            [(channels)]="crmLead.phoneCrmChannels"
            (channelsChange)="formDirty()"
            [type]="'phone'">
          </app-crm-channels>
        </div>
        <br>
        <div class="full-width">
          <fs-label>
            URLs
          </fs-label>
          <app-crm-channels
            [(channels)]="crmLead.urlCrmChannels"
            (channelsChange)="formDirty()"
            [type]="'url'">
          </app-crm-channels>
        </div>
      </div>
      <h2>
        <div class="fs-row.justify-between">
          General information
          <a
              mat-icon-button
              (click)="customizeLeadField()">
            <mat-icon>
              settings
            </mat-icon>
          </a>
        </div>
      </h2>
      <fs-field-renderer [config]="fieldConfig"></fs-field-renderer>
    </div>
    <div class="fs-row full-width">
      <div class="fs-column full-width">
        <h2>
          Lead details
        </h2>
        <app-lead-status
          [(ngModel)]="crmLead.statusAttribute"
          (ngModelChange)="crmLead.statusAttributeId = $event?.id || null"
          name="statusAttribute">
        </app-lead-status>
        @if (assignAccountEnabled) {
          <app-lead-assigned-account
            [(ngModel)]="crmLead.assignedAccount"
            (ngModelChange)="crmLead.assignedAccountId = $event?.id || null"
            name="assignedAccount">
          </app-lead-assigned-account>
        }
        <app-lead-source
          [(ngModel)]="crmLead.sourceAttribute"
          (ngModelChange)="crmLead.sourceAttributeId = $event?.id || null"
          name="sourceAttribute">
        </app-lead-source>
      </div>
    </div>
  </div>
</ng-container>