<fs-autocomplete-chips
    [(ngModel)]="assignedAccount"
    (ngModelChange)="change($event)"
    [fetch]="fetchAccounts"
    [padless]="padless"
    [floatLabel]="'always'"
    [label]="'Assigned to'"
    [floatLabel]="'always'"
    [size]="'small'"
    [chipImage]="'avatar.small'"
    [multiple]="false"
    [placeholder]="'N/A'"
    [initOnClick]="initOnClick"
    name="assignedAccountId">
  <ng-template
      fsAutocompleteObject
      let-object="object">
    {{ object.name }}
  </ng-template>
</fs-autocomplete-chips>